/* Палитра
color: #2196f3; -акцент 
color: #000000; - текст лого
color: #212121; - текст нав,заголовки секций- основной цвет текста
color: #757575; - текст контакты,текст секций - вторичный цвет текста
color: #FFFFFF; - текст героя, главный бэк 
color: #2F303A; - бэк героя
color: rgba(255, 255, 255, 0.6); -контакты футер */

body {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
}

.list {
  list-style: none;
}

:root {
  --accent-color: #2196f3;
  --logo-text-color: #000000;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --primary-background-color: #ffffff;
  --secondary-background-color: #2f303a;
  --footer-text-color: rgba(255, 255, 255, 0.6);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*  HEADER */

/* Логотип-1 */
.logo {
  color: var(--logo-text-color);
  text-decoration: none;
}
.accent {
  color: var(--accent-color);
}

/* Постраничная навигация */
.link:visited {
  color: var(--primary-text-color);
}
.link {
  text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

/* Контакты */
.contact {
  color: var(--secondary-text-color);
  text-decoration: none;
}
.contact:hover,
.contact:focus {
  color: var(--accent-color);
}

/* MAIN */

/* Герой */
.hero-title {
  /* временный бэк */
  background-color: var(--secondary-background-color);
  color: var(--primary-background-color);
}

.hero-btn {
  background-color: var(--accent-color);
  color: var(--primary-background-color);
  text-decoration: none;
}

/* Секции */
.features-list .text {
  color: var(--secondary-text-color);
}
.team-list .text {
  color: var(--secondary-text-color);
}

/* FOOTER */
/* Логотип-2 */
.studio {
  /* временный бэк */
  background-color: var(--secondary-background-color);
  color: var(--primary-background-color);
}
/* Адресс */
.address-link {
  /* Временный бэк */
  background-color: var(--secondary-background-color);
  color: var(--primary-background-color);
  text-decoration: none;
}

.address-link.map {
  /* Временный бэк */
  background-color: var(--secondary-background-color);
  color: var(--primary-background-color);
  text-decoration: none;
}

/* Contacts */
.contacts-list {
}
.contacts-link {
  /* Временный бэк */
  background-color: var(--secondary-background-color);
  color: var(--footer-text-color);
  text-decoration: none;
}
