/* Палитра
color: #2196f3; -акцент 
color: #000000; - текст лого
color: #212121; - текст нав,заголовки секций- основной цвет текста
color: #757575; - текст контакты,текст секций - вторичный цвет текста
color: #FFFFFF; - текст героя, главный бэк 
color: #2F303A; - бэк героя
color: rgba(255, 255, 255, 0.6); -контакты футер */

body {
  background-color: #ffffff;
  color: #212121;
}

/* HEADER */

/* Логотип-1 */
.logo {
  color: #000000;
  text-decoration: none;
}
.accent {
  color: #2196f3;
}

/* Постраничная навигация */
.nav-list {
  list-style: none;
}
.nav-link {
  color: #000;
  text-decoration: none;
}
.nav-link:hover,
.nav-link:focus,
.nav-link:active {
  color: #2196f3;
}

/* Контакты */
.contact {
  color: #757575;
  text-decoration: none;
}
.contact:hover,
.contact:focus,
.contact:active {
  color: #2196f3;
}

/* MAIN */

/* Герой */
.hero-title {
  /* временный бэк */
  background-color: #2f303a;
  color: #ffffff;
}

.hero-btn {
  background-color: #2196f3;
  color: #ffffff;
}

/* Секции */
.section-title .section-subtitle {
  color: #212121;
}

.section-list {
  list-style: none;
}

.section-text {
  color: #757575;
}

/* FOOTER */
/* Логотип-2 */
.studio {
  /* временный бэк */
  background-color: #2f303a;
  color: #ffffff;
}
/* Адресс */
.address-link: {
  /* Временный бэк */
  background-color: #2f303a;
  color: #ffffff;
  text-decoration: none;
}

.address-link.map {
  /* Временный бэк */
  background-color: #2f303a;
  color: #ffffff;
  text-decoration: none;
}
/* Contacts */
.contacts-list {
  list-style: none;
}
.contacts-link {
  /* Временный бэк */
  background-color: #2f303a;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
